body {
  background-color: #f6f6ff;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  background-color: #6a0dad;
  border-color: #6a0dad;
}

.btn-primary:hover {
  background-color: #460783;
  border-color: #460783;
}

.form-control {
  background-color: #f2eaff;
  border-color: #6a0dad;
  color: #6a0dad;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.form-element {
  margin-bottom: 10px;
}

#search-btn {
  margin-bottom: 20px;
}

.container {
  /* margin-top: 3rem; */
  width: 60%;
}

.card {
  margin-bottom: 25px;
}

.footer-icons a {
  display: inline-block;
  color: #f2eaff;
  padding: 5px;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Adjust the number of lines as needed */
  /* Set the height of each line based on your desired spacing */
  line-height: 2.2em;
}

#header {
  font-family: "League Gothic", sans-serif;
  font-size: 4rem;
}

.headcontainer {
  width: 50%;
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 50%;
}
